* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
  width: 80px;
  height: 80px;
  list-style: none;
}
.blue li {
  background-color: lightskyblue;
}
ul {
  border: solid lightskyblue 2px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-bottom: 20px;
}
.purple {
    background-color: coral;
}
.purple li {
    background-color: purple;
}